/* Import Variables */
@import url("variables.css");

/* Container */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}

/* Link Highlight  */
.link-highlight {
  color: var(--link-highlight);
}

/* Grid  */
.section-grid {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
.container-grid {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.item-grid {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

/* Header Styles */
header {
  padding-top: var(--spacing-md);
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-hr {
  margin: 0;
  margin-top: var(--spacing-md);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
}

.desktop-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 50px;
  align-items: center;
}

.desktop-nav ul i {
  font-size: 24px;
  color: var(--secondary-color);
}

.desktop-nav ul li {
  margin-left: var(--spacing-lg);
}

.desktop-nav ul li a {
  font-family: var(--font-exo);
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color var(--transition-normal);
}

.desktop-nav ul li a:hover,
.desktop-nav ul li a.active {
  color: var(--primary-color);
}

.mobile-nav {
  display: none;
  background-color: var(--white);
  padding: var(--spacing-md) 0;
}

.mobile-nav.active {
  display: block;
}

.mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-item-gap {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
